/* .header-search form .search-btn {
    height: 41px;
} */
.search-box {
    margin-top: -1px;
    padding: 7px;
}
.header-search {
    display: flex;
    justify-content: center;
}
.header-search select {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.header-search button {
    background: #D10024;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
    outline: none;
}